.post {
    flex-basis: 300px;
    flex-grow: 1;
    min-height: 300px;
}
.post-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.slide {
    width: 100% !important;
}
.swiper-pagination-bullet
{
    background-color: #ffff !important;
    width: 6px !important;
    height: 6px !important;
    box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}